:root {
    --color-bg: #3c3836;
    --color-fg: #fbf1c7;
    --color-link: #a89984;
    --color-link-visited: #b16286;
    --color-link-hover: #fe8019 ;
}

html, body {
    background: var(--color-bg);
    color: var(--color-fg);
    font-family: 'Courier New', monospace;
    height: 100%;
    width: 100%;
    position: relative;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  /* padding-top: 60px; */
}

.favicon {
    margin-right: var(--spacing-s);
    height: 2rem;
}

.favicon-xl {
    margin-right: var(--spacing-s);
    height: 3rem;
}
#skip-to-top {
	position: fixed;
	bottom: 1em;
	right: 50%;
	background-color: var(--color-link-visited);
	color: var(--color-fg);
	padding: 1em 2em;
}

#skip-to-top:hover {
	background-color: var(--color-link-hover);
}

a:link {
  text-decoration: none;
  color: var(--color-link);
}

a:visited {
  color: var(--color-link-visited);
}

a:hover {
  color: var(--color-link-hover);
}

.title {
  font-size: 15px;
  color: var(--color-fg);
}

.title_link{
    color: var(--color-fg);
}