table {
  font-family: 'Courier New', monospace;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  /* border: 1px solid var(--color-fg); */
  border-style: none;
  text-align: center;
  border-radius: 10px;
  padding: 8px;
}

.desctd{
  color: var(--color-bg);
  /* border: 1px solid var(--color-fg); */
  text-align: left;
  border-radius: 10px;
}

.td-align-r{
  text-align: right;
}

.td-align-l{
  text-align: left;
}