table {
  font-family: 'Courier New', monospace;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  /* border: 1px solid var(--color-fg); */
   border-style: none;
  text-align: left;
  padding: 8px;
}