// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won’t be available)

@import "../css/bootstrap-5.3.8-dist/css/bootstrap.min.css";

// Then add additional custom code here

$list-group-item-dark:#cc241d;

// Custom colors
$bg_gu: #3c3836;
$fg_gu: #fbf1c7;
$fg_dgrey    : #a89984;
$fg_lilac    : #b16286;
$fg_orange    : #fe8019 ;

$primary: #0074d9;
$danger: #ff4136;
$btndanger: #cc241d;

$newcolorli: #cc241d;

$list-group-bg: #cc241d;

$mynewcolor:#77cccc;

.list-group-item{
    color: $fg_gu;
    background-color: $bg_gu;
}

body{
  color: $fg_gu;
  background-color: $bg_gu;
  background: $bg_gu;
  font-family: 'Courier New', monospace !important;
}

.table {
  --bs-table-color-type: $fg_gu;
  --bs-table-bg-type: $fg_gu;
  --bs-table-color-state: $fg_gu;
  --bs-table-bg-state: $fg_gu;
  --bs-table-color: $fg_gu;
  --bs-table-bg: $fg_gu;
  --bs-table-border-color: $fg_lilac;
  --bs-table-accent-bg: $fg_lilac;
  --bs-table-striped-color: $fg_lilac;
  --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.05);
  --bs-table-active-color: var(--bs-emphasis-color);
  --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
  --bs-table-hover-color: var(--bs-emphasis-color);
  --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 0.075);
  color: $fg_gu;
  background-color: $bg_gu;
  font-family: 'Courier New', monospace !important;
}


// .list-group {
//   --bs-list-group-color: $fg_gu;
//   --bs-list-group-bg: $bg_gu;
//   --bs-list-group-border-color: rgba(0, 0, 0, 0.125);
//   --bs-list-group-border-width: 1px;
//   --bs-list-group-border-radius: 0.375rem;
//   --bs-list-group-item-padding-x: 1rem;
//   --bs-list-group-item-padding-y: 0.5rem;
//   --bs-list-group-action-color: green;
//   --bs-list-group-action-hover-color: green;
//   --bs-list-group-action-hover-bg: #f8f9fa;
//   --bs-list-group-action-active-color: black;
//   --bs-list-group-action-active-bg: green;
//   --bs-list-group-disabled-color: #6c757d;
//   --bs-list-group-disabled-bg: #fff;
//   --bs-list-group-active-color: #fff;
//   --bs-list-group-active-bg: #0d6efd;
//   --bs-list-group-active-border-color: #0d6efd;
//   display: flex;
//   flex-direction: column;
//   padding-left: 0;
//   margin-bottom: 0;
//   border-radius: var(--bs-list-group-border-radius);
// }

